.balance {
  background-color: #ec1d25;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid black;
  float: right;
}

.totalBalance {
  padding-right: 10%;
}

.accBalance {
  padding-left: 10%;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ec1d25;}

.dropdown{
  box-shadow: 8px 8px 6px #888888;
  border-radius: 5px;
  
}

.userimage{
  border-radius: 50%;
  background-color: #ec1d25;
}

/* .firstName{
  display: inline-block
} */


.Name{
  display: flex;
  /* justify-content: left; */
}

.lastName{
  margin-left: 0.5%;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 10%;
  /* margin: auto; */
  flex-direction: column;
  background-color: #ec1d25;
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid black;
  color: white;
}

.accInfo {
  margin-left: 20px;
  margin-top: 150px;
}